body {
  margin: 0;
  background-color: whitesmoke;
}

#deck-display {
  min-height: 100vh;
}

#deck-display .desck-wrapper {
  height: 100%;
  margin: 1rem auto 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

#deck-display .desck-wrapper #message-space {
  text-align: center;
  position: fixed;
  bottom: 1rem;
  right: 30%;
  padding: 0.5rem;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
}

#deck-display .desck-wrapper .buttons-menu-wrapper {
  position: fixed;
  bottom: 0;
  left: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

#deck-display .desck-wrapper .buttons-menu-wrapper .controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#deck-display .desck-wrapper .buttons-menu-wrapper .controls .disable {
  background: #b6b6b6;
  z-index: -3;
  cursor: none;
  pointer-events: none;
}

#deck-display .desck-wrapper .buttons-menu-wrapper .controls .disable:hover, #deck-display .desck-wrapper .buttons-menu-wrapper .controls .disable:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#deck-display .desck-wrapper .buttons-menu-wrapper .controls:not(:last-child) {
  margin-right: 1.5rem;
}

#deck-display .desck-wrapper .buttons-menu-wrapper .controls button {
  padding: 1rem 1.8rem;
  background-color: #00ABC8;
  border: none;
  border-radius: 9999px;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#deck-display .desck-wrapper .buttons-menu-wrapper .controls button:first-child {
  margin-right: 0.5rem;
}

#deck-display .desck-wrapper .buttons-menu-wrapper .controls button:focus {
  outline: none;
  -webkit-box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.3);
}

#deck-display .desck-wrapper .buttons-menu-wrapper .controls button:hover {
  -webkit-box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.3);
}

#deck-display .desck-wrapper .open-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 74%;
  min-height: 100vh;
  z-index: 2;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

#deck-display .desck-wrapper .open-area--hovered {
  background-color: #f9f9f9 !important;
}

#deck-display .desck-wrapper .open-area--active {
  background-color: white;
}

#deck-display .desck-wrapper .open-area .cd-card {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -moz-perspective: 1000px;
  position: absolute;
  height: 260px;
  width: 165px;
  border-radius: 10px;
  top: 0;
  right: 0;
  margin: 0.5rem;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#deck-display .desck-wrapper .open-area .cd-card--invisible {
  display: none;
}

#deck-display .desck-wrapper .open-area .cd-card .front,
#deck-display .desck-wrapper .open-area .cd-card .back {
  border: 4px solid white;
  -webkit-box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
  position: absolute;
  width: 100%;
  height: 100%;
}

#deck-display .desck-wrapper .open-area .cd-card .front img,
#deck-display .desck-wrapper .open-area .cd-card .back img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  z-index: 0;
}

#deck-display .desck-wrapper .open-area .cd-card .front .flip-button,
#deck-display .desck-wrapper .open-area .cd-card .back .flip-button {
  opacity: 1 !important;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 0.5rem;
  top: 1.2rem;
  border-radius: 50%;
  border: none;
  background-image: url("./images//noun_flip_691181.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#deck-display .desck-wrapper .open-area .cd-card .front {
  z-index: 1;
}

#deck-display .desck-wrapper .open-area .cd-card .front .heading {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

#deck-display .desck-wrapper .open-area .cd-card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#deck-display .desck-wrapper .open-area .cd-card__flip {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -moz-perspective: 1000px;
}

#deck-display .desck-wrapper .open-area .cd-card__flip .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

#deck-display .desck-wrapper .open-area .cd-card__flip .front {
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

#deck-display .desck-wrapper .grid-draggable {
  position: absolute;
  width: 511px;
  height: auto;
  top: 2.5rem;
  right: 30%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
}

#deck-display .desck-wrapper .grid-draggable--active .grid-draggable__item {
  background-color: white;
  z-index: 1;
}

#deck-display .desck-wrapper .grid-draggable__item {
  list-style: none;
  width: 100%;
  height: 260px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#deck-display .desck-wrapper .grid-draggable__item--hovered {
  border: 2px dashed gray;
}

#deck-display .desck-wrapper .grid-draggable__item .cd-card {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -moz-perspective: 1000px;
  position: relative;
  height: 260px;
  width: 165px;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

#deck-display .desck-wrapper .grid-draggable__item .cd-card--invisible {
  display: none;
}

#deck-display .desck-wrapper .grid-draggable__item .cd-card .front,
#deck-display .desck-wrapper .grid-draggable__item .cd-card .back {
  border: 4px solid white;
  -webkit-box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
  position: absolute;
  width: 100%;
  height: 100%;
}

#deck-display .desck-wrapper .grid-draggable__item .cd-card .front img,
#deck-display .desck-wrapper .grid-draggable__item .cd-card .back img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  z-index: 0;
}

#deck-display .desck-wrapper .grid-draggable__item .cd-card .front .flip-button,
#deck-display .desck-wrapper .grid-draggable__item .cd-card .back .flip-button {
  opacity: 1 !important;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 0.5rem;
  top: 1.2rem;
  border-radius: 50%;
  border: none;
  background-image: url("./images//noun_flip_691181.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#deck-display .desck-wrapper .grid-draggable__item .cd-card .front {
  z-index: 1;
}

#deck-display .desck-wrapper .grid-draggable__item .cd-card .front .heading {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

#deck-display .desck-wrapper .grid-draggable__item .cd-card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#deck-display .desck-wrapper .grid-draggable__item .cd-card__flip {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -moz-perspective: 1000px;
}

#deck-display .desck-wrapper .grid-draggable__item .cd-card__flip .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

#deck-display .desck-wrapper .grid-draggable__item .cd-card__flip .front {
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

#deck-display .desck-wrapper .card-container {
  width: 100%;
}

#deck-display .desck-wrapper .card-container .stack-wrapper {
  position: relative;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  z-index: 3;
  min-height: 265px;
  border-radius: 2rem;
}

#deck-display .desck-wrapper .card-container .stack-wrapper--gallery {
  position: initial;
  width: auto;
  min-height: auto;
}

#deck-display .desck-wrapper .card-container .stack-wrapper--spread {
  width: auto;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .button-switch-stack {
  position: absolute;
  top: 8.65rem;
  right: -6rem;
  padding: 5px 0;
  background-color: #b6b6b6;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  width: 260px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 18px;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .button-switch-stack:focus, #deck-display .desck-wrapper .card-container .stack-wrapper .button-switch-stack:hover, #deck-display .desck-wrapper .card-container .stack-wrapper .button-switch-stack--active {
  outline: none;
  -webkit-box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.3);
}

#deck-display .desck-wrapper .card-container .stack-wrapper .button-switch-stack:hover {
  background-color: #00ABC8;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .button-switch-stack--active {
  background-color: #00ABC8;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .button-switch-stack--disable {
  cursor: none !important;
  pointer-events: none !important;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .button-switch-stack--disable:hover, #deck-display .desck-wrapper .card-container .stack-wrapper .button-switch-stack--disable:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #b6b6b6 !important;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .button-switch-stack--gallery {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: -2.5px;
  left: 1.5rem;
  width: 165px;
  z-index: 6;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .shuffle-even {
  -webkit-perspective: 1000px !important;
          perspective: 1000px !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .shuffle-even .cd-card {
  -webkit-animation: shuffle 0.4s ease-in;
          animation: shuffle 0.4s ease-in;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .shuffle-even .cd-card:nth-of-type(even) {
  -webkit-animation: shuffle 0.4s ease-in;
          animation: shuffle 0.4s ease-in;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .shuffle-odd {
  -webkit-perspective: 1000px !important;
          perspective: 1000px !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .shuffle-odd .cd-card {
  -webkit-animation: shuffle 0.4s ease-in;
          animation: shuffle 0.4s ease-in;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .shuffle-odd .cd-card:nth-of-type(even) {
  -webkit-animation: shuffle 0.4s ease-in;
          animation: shuffle 0.4s ease-in;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  padding: 1rem 1rem 1rem 165px;
  margin-right: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  min-width: 165px;
  min-height: inherit;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack--hovered {
  opacity: 0.6;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card {
  z-index: 3;
  -webkit-transition: margin 0.3s ease-in, -webkit-transform 1s ease;
  transition: margin 0.3s ease-in, -webkit-transform 1s ease;
  transition: transform 1s ease, margin 0.3s ease-in;
  transition: transform 1s ease, margin 0.3s ease-in, -webkit-transform 1s ease;
  /* &--active {

                                .front,
                                .back {
                                    border: 4px solid $base-color !important;
                                }
                            } */
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card:not(:first-child) {
  margin-right: -9.7rem !important;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card .front img,
#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card .back img {
  -webkit-filter: none !important;
          filter: none !important;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card .front .flip-button,
#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card .back .flip-button {
  opacity: 1 !important;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 0.5rem;
  top: 1.2rem;
  border-radius: 50%;
  border: none;
  background-image: url("./images//noun_flip_691181.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card .front {
  z-index: 1;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card .front .heading {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card__flip {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -moz-perspective: 1000px;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card__flip .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card__flip .front {
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card--discard {
  -webkit-animation: fadeOutBottomLeft 1s cubic-bezier(0.65, -0.02, 0.72, 0.29) forwards;
          animation: fadeOutBottomLeft 1s cubic-bezier(0.65, -0.02, 0.72, 0.29) forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active .cd-card--invisible {
  display: none;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active--spread {
  -webkit-transition: margin-bottom 1.2s cubic-bezier(0.67, -0.1, 0.2, 1);
  transition: margin-bottom 1.2s cubic-bezier(0.67, -0.1, 0.2, 1);
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active--spread .cd-card {
  -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.67, -0.1, 0.2, 1) !important;
  transition: -webkit-transform 1.2s cubic-bezier(0.67, -0.1, 0.2, 1) !important;
  transition: transform 1.2s cubic-bezier(0.67, -0.1, 0.2, 1) !important;
  transition: transform 1.2s cubic-bezier(0.67, -0.1, 0.2, 1), -webkit-transform 1.2s cubic-bezier(0.67, -0.1, 0.2, 1) !important;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active--gallery {
  border-right: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 35%;
  margin-right: 0;
  position: absolute;
  padding: 2rem 0 5rem 1rem;
  top: 0;
  z-index: 1;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active--gallery .cd-card {
  -webkit-transition: margin 2s cubic-bezier(0.75, -0.25, 0.115, 1) !important;
  transition: margin 2s cubic-bezier(0.75, -0.25, 0.115, 1) !important;
  margin: 0 0 0.5rem 0.5rem !important;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active--gallery .cd-card:not(:first-child) {
  margin-right: 0 !important;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active--gallery .cd-card:hover {
  -webkit-transform: none !important;
          transform: none !important;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack__active--gallery .cd-card:hover ~ .cd-card {
  -webkit-transform: none !important;
          transform: none !important;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -moz-perspective: 1000px;
  position: relative;
  height: 260px;
  min-width: 165px;
  border-radius: 10px;
  -webkit-transition: margin 0.3s ease-in, -webkit-transform 1s ease;
  transition: margin 0.3s ease-in, -webkit-transform 1s ease;
  transition: transform 1s ease, margin 0.3s ease-in;
  transition: transform 1s ease, margin 0.3s ease-in, -webkit-transform 1s ease;
  z-index: -1;
  cursor: move;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card--active .front,
#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card--active .back {
  border: 4px solid #00ABC8 !important;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card--hold {
  cursor: move;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card--invisible {
  display: none;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card:not(:first-child) {
  margin-right: -164.5px;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card:hover ~ .cd-card {
  -webkit-transform: translateX(-164.5px);
          transform: translateX(-164.5px);
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card--discard {
  -webkit-animation: fadeOutBottomLeft 1s cubic-bezier(0.65, -0.02, 0.72, 0.29) forwards !important;
          animation: fadeOutBottomLeft 1s cubic-bezier(0.65, -0.02, 0.72, 0.29) forwards !important;
  -webkit-animation-iteration-count: 1 !important;
          animation-iteration-count: 1 !important;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card .front,
#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card .back {
  border: 4px solid white;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(128, 128, 128, 0.1);
          box-shadow: 0px 0px 0px 1px rgba(128, 128, 128, 0.1);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
  position: absolute;
  width: 100%;
  height: 100%;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card .front img,
#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card .back img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  z-index: 0;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card .front .flip-button,
#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card .back .flip-button {
  opacity: 1 !important;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 0.5rem;
  top: 1.2rem;
  border-radius: 50%;
  border: none;
  background-image: url("./images//noun_flip_691181.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card .front {
  z-index: 1;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card .front .heading {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  z-index: 1;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card__flip {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -moz-perspective: 1000px;
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card__flip .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

#deck-display .desck-wrapper .card-container .stack-wrapper .stack .cd-card__flip .front {
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

@-webkit-keyframes shuffle {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    z-index: 1;
  }
  35% {
    -webkit-transform: translate3d(8rem, 0, 0);
            transform: translate3d(8rem, 0, 0);
    z-index: -1;
  }
  70% {
    -webkit-transform: translate3d(-8rem, 0, 0);
            transform: translate3d(-8rem, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    z-index: 1;
  }
}

@keyframes shuffle {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    z-index: 1;
  }
  35% {
    -webkit-transform: translate3d(8rem, 0, 0);
            transform: translate3d(8rem, 0, 0);
    z-index: -1;
  }
  70% {
    -webkit-transform: translate3d(-8rem, 0, 0);
            transform: translate3d(-8rem, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    z-index: 1;
  }
}

@-webkit-keyframes fadeOutBottomLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-120vw, 100%, 0);
            transform: translate3d(-120vw, 100%, 0);
  }
}

@keyframes fadeOutBottomLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-120vw, 100%, 0);
            transform: translate3d(-120vw, 100%, 0);
  }
}
/*# sourceMappingURL=index.css.map */