$distance-open: -9.7rem;
$distance: -164.5px;
$base-color: #00ABC8;

body {
    margin: 0;
    background-color: whitesmoke;
}

#deck-display {
    min-height: 100vh;

    .desck-wrapper {
        height: 100%;
        margin: 1rem auto 4rem;
        display: flex;
        justify-content: flex-end;
        position: relative;

        #message-space {
            text-align: center;
            position: fixed;
            bottom: 1rem;
            right: 30%;
            padding: 0.5rem;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: bold;
            z-index: 10;
            // background-color: rgb(216, 20, 20);
        }

        .buttons-menu-wrapper {
            position: fixed;
            bottom: 0;
            left: 1rem;
            margin-bottom: 1rem;
            display: flex;
            z-index: 5;

            .controls {
                position: relative;

                .disable {
                    background: rgb(182, 182, 182);
                    z-index: -3;
                    cursor: none;
                    pointer-events: none;

                    &:hover,
                    &:focus {
                        box-shadow: none;
                    }
                }

                display: flex;

                &:not(:last-child) {
                    margin-right: 1.5rem;
                }

                button {
                    padding: 1rem 1.8rem;
                    background-color: $base-color;
                    border: none;
                    border-radius: 9999px;
                    color: white;
                    box-sizing: border-box;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:first-child {
                        margin-right: 0.5rem;
                    }

                    &:focus {
                        outline: none;
                        box-shadow: 4px 4px 12px 2px rgba($color: #000000, $alpha: 0.3);
                    }

                    &:hover {
                        box-shadow: 4px 4px 12px 2px rgba($color: #000000, $alpha: 0.3);
                    }
                }
            }
        }

        .open-area {
            position: fixed;
            left: 0;
            top: 0;
            width: 74%;
            min-height: 100vh;
            z-index: 2;
            list-style: none;
            // display: flex;
            // flex-wrap: wrap;
            box-sizing: border-box;
            border-radius: 8px;


            &--hovered {
                background-color: rgb(249, 249, 249) !important;
            }

            &--active {
                background-color: white;
            }

            .cd-card {
                perspective: 1000px;
                -moz-perspective: 1000px;
                position: absolute;
                height: 260px;
                width: 165px;
                border-radius: 10px;
                top: 0;
                right: 0;
                // transition: transform 1s ease;
                margin: 0.5rem;
                // z-index: 5;
                touch-action: none;
                user-select: none;

                &--invisible {
                    display: none;
                }

                .front,
                .back {
                    border: 4px solid white;
                    box-shadow: 4px 4px 12px 2px rgba($color: #000000, $alpha: 0.1);
                    border-radius: 10px;
                    box-sizing: border-box;
                    transition: all 1.2s ease;
                    position: absolute;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 5px;
                        z-index: 0;
                    }

                    .flip-button {
                        opacity: 1 !important;
                        position: absolute;
                        width: 1.5rem;
                        height: 1.5rem;
                        right: 0.5rem;
                        top: 1.2rem;
                        border-radius: 50%;
                        border: none;
                        background-image: url("./images//noun_flip_691181.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

                .front {
                    z-index: 1;

                    .heading {
                        position: absolute;
                        top: 0.5rem;
                        left: 1rem;
                    }
                }

                .back {
                    transform: rotateY(180deg);
                }

                &__flip {
                    perspective: 1000px;
                    -moz-perspective: 1000px;

                    .back {
                        transform: rotateY(0);
                    }

                    .front {
                        z-index: 0;
                        transform: rotateY(-180deg);
                    }
                }
            }

        }

        .grid-draggable {
            position: absolute;
            width: 511px;
            height: auto;
            top: 2.5rem;
            right: 30%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0.5rem;
            align-items: center;
            transition: right 0.3s ease;

            &--active {
                .grid-draggable__item {
                    background-color: white;
                    z-index: 1;
                }
            }

            &__item {
                list-style: none;
                width: 100%;
                height: 260px;
                border-radius: 5px;
                box-sizing: border-box;

                &--hovered {
                    border: 2px dashed gray;
                }

                .cd-card {
                    perspective: 1000px;
                    -moz-perspective: 1000px;
                    position: relative;
                    height: 260px;
                    width: 165px;
                    border-radius: 10px;
                    transition: transform 1s ease;
                    // z-index: -1;

                    &--invisible {
                        display: none;
                    }

                    .front,
                    .back {
                        border: 4px solid white;
                        box-shadow: 4px 4px 12px 2px rgba($color: #000000, $alpha: 0.1);
                        border-radius: 10px;
                        box-sizing: border-box;
                        transition: all 1.2s ease;
                        position: absolute;
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                            z-index: 0;
                        }

                        .flip-button {
                            opacity: 1 !important;
                            position: absolute;
                            width: 1.5rem;
                            height: 1.5rem;
                            right: 0.5rem;
                            top: 1.2rem;
                            border-radius: 50%;
                            border: none;
                            background-image: url("./images//noun_flip_691181.svg");
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }

                    .front {
                        z-index: 1;

                        .heading {
                            position: absolute;
                            top: 0.5rem;
                            left: 1rem;
                        }
                    }

                    .back {
                        transform: rotateY(180deg);
                    }

                    &__flip {
                        perspective: 1000px;
                        -moz-perspective: 1000px;

                        .back {
                            transform: rotateY(0);
                        }

                        .front {
                            z-index: 0;
                            transform: rotateY(-180deg);
                        }
                    }
                }
            }
        }

        .card-container {
            width: 100%;

            .stack-wrapper {
                position: relative;
                transition: height 1s ease;
                overflow: hidden;
                width: fit-content;
                margin-left: auto;
                z-index: 3;
                min-height: 265px;
                border-radius: 2rem;
                // box-shadow: 0px 0px 5px 1px rgba($color: #000000, $alpha: 0.1);
                // background: white;

                &--gallery {
                    position: initial;
                    width: auto;
                    min-height: auto;
                }

                &--spread {
                    width: auto;
                }

                .button-switch-stack {
                    position: absolute;
                    top: 8.65rem;
                    right: -6rem;
                    padding: 5px 0;
                    background-color: rgb(182, 182, 182);
                    border-radius: 5px;
                    border: none;
                    color: white;
                    cursor: pointer;
                    transform: rotate(-90deg);
                    transition: background-color 0.3s ease, box-shadow 0.3s ease;
                    width: 260px;
                    height: fit-content;
                    font-size: 18px;

                    &:focus,
                    &:hover,
                    &--active {
                        outline: none;
                        box-shadow: 4px 4px 12px 2px rgba($color: #000000, $alpha: 0.3);
                    }

                    &:hover {
                        background-color: $base-color;
                    }

                    &--active {
                        background-color: $base-color;
                    }

                    &--disable {
                        cursor: none !important;
                        pointer-events: none !important;

                        &:hover,
                        &:focus {
                            box-shadow: none !important;
                            background-color: rgb(182, 182, 182) !important;
                        }
                    }

                    &--gallery {
                        transform: rotate(0deg);
                        top: -2.5px;
                        left: 1.5rem;
                        width: 165px;
                        z-index: 6;
                    }
                }

                .shuffle-even {
                    perspective: 1000px !important;
                    backface-visibility: hidden;

                    .cd-card {
                        animation: shuffle 0.4s ease-in;
                        animation-delay: 0.1s;

                        &:nth-of-type(even) {
                            animation: shuffle 0.4s ease-in;
                        }
                    }
                }

                .shuffle-odd {
                    perspective: 1000px !important;
                    backface-visibility: hidden;

                    .cd-card {
                        animation: shuffle 0.4s ease-in;

                        &:nth-of-type(even) {
                            animation: shuffle 0.4s ease-in;
                            animation-delay: 0.1s;
                        }
                    }
                }

                .stack {
                    list-style: none;
                    display: flex;
                    flex-direction: row-reverse;
                    transform: translateX(0);
                    padding: 1rem 1rem 1rem 165px;
                    margin-right: 3rem;
                    margin-bottom: 0.5rem;
                    margin-top: 0.5rem;
                    min-width: 165px;
                    min-height: inherit;

                    &--hovered {
                        opacity: 0.6;
                    }

                    &__active {

                        .cd-card {
                            z-index: 3;
                            transition: transform 1s ease,
                                margin 0.3s ease-in;

                            &:not(:first-child) {
                                margin-right: $distance-open !important;
                            }

                            .front,
                            .back {
                                img {
                                    filter: none !important;
                                }

                                .flip-button {
                                    opacity: 1 !important;
                                    position: absolute;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    right: 0.5rem;
                                    top: 1.2rem;
                                    border-radius: 50%;
                                    border: none;
                                    background-image: url("./images//noun_flip_691181.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                            }

                            .front {
                                z-index: 1;

                                .heading {
                                    position: absolute;
                                    top: 0.5rem;
                                    left: 1rem;
                                }
                            }

                            .back {
                                transform: rotateY(180deg);
                            }

                            &__flip {
                                perspective: 1000px;
                                -moz-perspective: 1000px;


                                .back {
                                    transform: rotateY(0);
                                }

                                .front {
                                    z-index: 0;
                                    transform: rotateY(-180deg);
                                }
                            }

                            /* &--active {

                                .front,
                                .back {
                                    border: 4px solid $base-color !important;
                                }
                            } */

                            &--discard {
                                animation: fadeOutBottomLeft 1s cubic-bezier(.65, -0.02, .72, .29) forwards;
                                animation-iteration-count: 1;

                            }

                            &--invisible {
                                display: none;
                            }
                        }

                        &--spread {
                            transition: margin-bottom 1.2s cubic-bezier(.67, -0.10, .20, 1);

                            .cd-card {
                                transition: transform 1.2s cubic-bezier(.67, -0.10, .20, 1) !important;
                            }
                        }


                        &--gallery {
                            border-right: none;
                            flex-wrap: wrap;
                            justify-content: flex-end;
                            max-width: 35%;
                            // min-height: 810px;
                            margin-right: 0;
                            position: absolute;
                            padding: 2rem 0 5rem 1rem;
                            top: 0;
                            z-index: 1;
                            // overflow: hidden;

                            .cd-card {
                                transition: margin 2s cubic-bezier(.75, -0.25, 0.115, 1) !important;
                                margin: 0 0 0.5rem 0.5rem !important;

                                &:not(:first-child) {
                                    margin-right: 0 !important;
                                }

                                &:hover {
                                    transform: none !important;

                                    &~.cd-card {
                                        transform: none !important;
                                    }
                                }
                            }
                        }
                    }

                    .cd-card {
                        perspective: 1000px;
                        -moz-perspective: 1000px;
                        position: relative;
                        height: 260px;
                        min-width: 165px;
                        border-radius: 10px;
                        transition: transform 1s ease,
                            margin 0.3s ease-in;
                        z-index: -1;
                        cursor: move;

                        &--active {

                            .front,
                            .back {
                                border: 4px solid $base-color !important;
                            }
                        }

                        &--hold {
                            cursor: move;
                        }

                        &--invisible {
                            display: none;
                        }

                        &:not(:first-child) {
                            margin-right: $distance;
                        }

                        &:hover {
                            transform: translateY(-1rem);

                            &~.cd-card {
                                transform: translateX($distance);
                            }
                        }

                        &--discard {
                            animation: fadeOutBottomLeft 1s cubic-bezier(.65, -0.02, .72, .29) forwards !important;
                            animation-iteration-count: 1 !important;

                        }

                        .front,
                        .back {
                            border: 4px solid white;
                            box-shadow: 0px 0px 0px 1px rgba($color: gray, $alpha: 0.1);
                            border-radius: 10px;
                            box-sizing: border-box;
                            transition: all 1.2s ease;
                            position: absolute;
                            width: 100%;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 5px;
                                z-index: 0;
                                filter: grayscale(1);
                            }

                            .flip-button {
                                opacity: 1 !important;
                                position: absolute;
                                width: 1.5rem;
                                height: 1.5rem;
                                right: 0.5rem;
                                top: 1.2rem;
                                border-radius: 50%;
                                border: none;
                                background-image: url("./images//noun_flip_691181.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }

                        .front {
                            z-index: 1;

                            .heading {
                                position: absolute;
                                top: 0.5rem;
                                left: 1rem;
                                z-index: 1;
                            }
                        }

                        .back {
                            transform: rotateY(180deg);
                        }

                        &__flip {
                            perspective: 1000px;
                            -moz-perspective: 1000px;


                            .back {
                                transform: rotateY(0);
                            }

                            .front {
                                z-index: 0;
                                transform: rotateY(-180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}



@keyframes shuffle {
    0% {
        transform: translate3d(0, 0, 0);
        z-index: 1;
    }


    35% {
        transform: translate3d(8rem, 0, 0);
        z-index: -1;
    }


    70% {
        transform: translate3d(-8rem, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
        z-index: 1;
    }
}

@keyframes fadeOutBottomLeft {
    from {
        opacity: 1;
        // transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(-120vw, 100%, 0);
    }
}